[200~# Customized selection

*.sas7bdat

# Application File Types

*.accdb
*.dll
*.exe
*.log
*.mdb

# Audio File Types

*.3gp
*.8svx
*.aa
*.aac
*.aax
*.act
*.aiff
*.amr
*.ape
*.au
*.awb
*.dct
*.dss
*.dvf
*.flac
*.gsm
*.iklax
*.ivs
*.m4a
*.m4b
*.m4p
*.mmf
*.mogg
*.mp3
*.mpc
*.msv
*.oga
*.ogg
*.opus
*.ra
*.raw
*.rm
*.tta
*.vox
*.wav
*.webm
*.wma
*.wv

# Compressed File Types

*.7z
*.ear
*.gz
*.gzip
*.iso
*.jar
*.rar
*.rpm
*.tar
*.tar.gz
*.tgz
*.war
*.z
*.zip

# Debug File Types

*.dSYM
*.idb
*.pdb
*.su

# Executable File Types

*.app
*.exe
*.hex
*.i86
*.out
*.x86_64
      
# Java File Types

*.class
      
# Library File Types

*.a
*.la
*.lib
*.lo
      
# Linker File Types

*.exp
*.ilk
*.map
      
# Microsoft Office File Types

*.accda 
*.accdb 
*.accdc 
*.accde 
*.accdr 
*.accdt 
*.accdw 
*.adn 
*.adp 
*.laccdb 
*.mad 
*.maf
*.mam 
*.maq 
*.mar 
*.mat 
*.mda 
*.mdb 
*.mde 
*.mdf 
*.mdw 
*.ods
*.xla
*.xlam
*.xll
*.xlm
*.xls
*.xlsb
*.xlsm
*.xlsx
*.xlt
*.xltm
*.xltx    
*.xlw

# Object File Types

*.elf
*.ko
*.o
*.obj
      
# Precompiled Header File Types

*.gch
*.pch
      
# Shared Objects File Types

*.dll
*.dylib
*.so
      
# Video File Types

*.3g2
*.3gp
*.amv
*.arc
*.arj
*.asf
*.avi
*.cab
*.drc
*.f4a
*.f4b
*.f4p
*.f4v
*.flv
*.gif
*.gifv
*.img
*.m2v
*.m4p
*.m4v
*.mkv
*.mng
*.mov
*.mp2
*.mp4
*.mpe
*.mpeg
*.mpg
*.mpv
*.mxf
*.nsv
*.ogg
*.ogv
*.qt
*.rm
*.rmvb
*.roq
*.svi
*.vob
*.webm
*.wmv
*.yuv
      
# Visual C++ File Types

*.aps
*.cachefile
*.ipch
*.ncb
*.opendb
*.opendb
*.opensdf
*.sdf
*.VC.db
      
# Visual Studio File Types

*.ilk
*.log
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.rsp
*.sbr
*.scc
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
*_i.c
*_i.h
*_p.c
.builds
      
# Visual Studio Profiler File Types

*.psess
*.sap
*.vsp
*.vspx



